@model OAuthWebSample.Models.GoogleDriveModel

@{
    ViewBag.Title = "Googleドライブ";
}
<h2>@ViewBag.Title</h2>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

@using (Html.BeginForm("GoogleDrive", null, FormMethod.Post))
{
    @Html.LabelFor(m => m.FolderName);
    <text>:&nbsp;</text>
    @Html.TextBoxFor(m => m.FolderName);
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>
}

@if (Model.FileDataList != null && Model.FileDataList.Count > 0)
{
    <div class="table-responsive">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="id" data-sortable="true">Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FileDataList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}